{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Авторизация{% endblock %}
{% block content %}
    <h1>Авторизация</h1>
    {% if form.errors %}
    {% else %}
        <p>Используйте следующие поля для авторизации. Если у вас нет аккаунта <a id="register" href="{% url "register" %}">регистрация</a>
        </p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Войти" id="login_btn"></p>
        </form>
    </div>
{% endblock %}